$pointwidth: 5px;
$transitiontime: .2s;

input
{
	border: 1px solid black;
	background-color: white !important;
	text-transform: uppercase;
	font-size: 2rem;
}

#container
{
	width: 500px;
	height: 400px;

	.point
	{
		position: absolute;
		width: $pointwidth;
		height: $pointwidth;
		background-color: black;
		z-index: 1;


	}

	.line
	{
		position: absolute;
		display: flex;
		height: 1px;
		background-color: red;

		transform-origin: left 50%;


	}
}
